.gf-social-icons-spaching-controller{
    display: flex !important;
    gap: 0px !important;
    border: 1px solid black;
    
    input{
        border-radius: 0 !important;
        border-color: #f7f7f7;
    }
    button{
        border-width: 1px !important;
        border-radius:0px ;
        border-color: #f7f7f7 !important;
        box-shadow:none;
        background-color: transparent;
    }
}
