.hide {
        display: none;
}
body div#main-container{
        position: relative;
}
.show {
        display: block;
}

:root {
        --gutefy-primary-color: #000;
        --gutefy-secondary-color: #fff;
        --gutefy-primary-hover-color: #086A61;
        --gutefy-secondary-hover-color: #F5AD3C;
        --gutefy-icon-size:30px;
        --gutefy-icon-wrapper-size: 60px;
        
}
$gutefy-icon-wrapper-size_var: 60;

// $gutefy-style-two-icon-size: var(--gutefy-icon-wrapper-size)   default;

.gutefy-section-wrapper.style-one {
        .section-wrapper {
                position: fixed;
                bottom: 130px;
                right: 25px;
                z-index: 9999999999;
                
                .floating-action-button {
                        width: var(--gutefy-icon-wrapper-size);
                        height: var(--gutefy-icon-wrapper-size);
                        color: var(--gutefy-secondary-color) !important;
                        font-size: 30px;
                        cursor: pointer;
                        transform: rotate(45deg);

                        .share-btn {
                                position: absolute;
                                top: 0;
                                left: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                height: 100%;
                                background-color: var(--gutefy-primary-color) !important;
                                border-radius: 10px;
                                box-shadow: 0px 2px 17px -1px rgba(0, 0, 0, 0.3);
                                z-index: 9999999999;

                                #share-icon {
                                        display: block;
                                }

                                #close-icon {
                                        display: none;
                                }
                        }

                        .share-btn.active {
                                #share-icon {
                                        display: none;
                                }

                                #close-icon {
                                        display: block;
                                }
                        }

                        ul {
                                position: relative;
                                width: var(--gutefy-icon-wrapper-size);
                                height: var(--gutefy-icon-wrapper-size);
                                top: 0;
                                left: 0;
                                margin: 0 !important;
                                margin-block: 0px !important;
                                padding-inline: 0px !important;

                                li {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: var(--gutefy-icon-wrapper-size);
                                        height: var(--gutefy-icon-wrapper-size);
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background: var(--gutefy-primary-color) !important;
                                        list-style-type: none;
                                        transform: scale(0.95);
                                        transition: .5s;
                                        border-radius: 10px;
                                        a {
                                                display: flex;
                                                color: var(--gutefy-secondary-color) !important;
                                                text-decoration: none !important;
                                        }
                                }
                        }
                        ul.active {
                                li {
                                        transition: top 0.5s, left 0.5s;
                                        &:hover {
                                                background-color: var(--gutefy-primary-hover-color) !important;
                                                a {
                                                                color: var(--gutefy-secondary-hover-color) !important;
                                                                text-decoration: none !important;
                                                }
                                        }                               
                                        &:nth-child(1) {
                                                top: 100%;
                                                left: 100%;
                                                transition-delay: 0s;
                                        }
                                        &:nth-child(2) {
                                                top: 100%;
                                                left: 0%;
                                                transition-delay: 0.2s;
                                        }
                                        &:nth-child(3) {
                                                top: 100%;
                                                left: -100%;
                                                transition-delay: 0.4s;
                                        }
                                        &:nth-child(4) {
                                                top: 0%;
                                                left: -100%;
                                                transition-delay: 0.6s;
                                        }
                                        &:nth-child(5) {
                                                top: -100%;
                                                left: -100%;
                                                transition-delay: 0.8s;
                                        }
                                }
                        }
                }
                i {
                        font-size: var(--gutefy-icon-size);
                        transform: rotate(-45deg);
                }
        }
}

.gutefy-section-wrapper.style-two {
        .section-wrapper {
                position: fixed;
                bottom: 30px;
                right: 25px;
                z-index: 9999999999;

                .round {
                        border-radius: 50%;
                }
                a{
                text-decoration: none !important;
                }
                .fab.round {
                        transition: all 300ms ease-in-out;
                        width: var(--gutefy-icon-wrapper-size);
                        height: var(--gutefy-icon-wrapper-size);
                        background-color: var(--gutefy-primary-color) !important;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        right: 30px;
                        bottom: 15px;
                        user-select: none;
                        cursor: pointer;
                        color: var(--gutefy-secondary-color) !important;
                        font-size: 2em;
                        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16), 0px 3px 10px rgba(0, 0, 0, 0.16);
                        &:hover {
                                background-color: var(--gutefy-primary-hover-color) !important;
                        }
                        i {
                                transition: all 300ms ease-in-out;
                                will-change: transform;
                                font-size: var(--gutefy-icon-size);
                                &:hover{
                                        color: var(--gutefy-secondary-hover-color) !important;
                                }
                        }
                }
                .gf-sl-inner-fabs .fab.round {
                        width: var(--gutefy-icon-wrapper-size);
                        height: var(--gutefy-icon-wrapper-size);
                        right: 30px;
                        bottom: 16px;
                        font-size: 1.5em;
                        will-change: bottom;
                }
                // from 0 through ${number of inner fabs}
                @for $i from 0 through 5 {
                        .gf-sl-inner-fabs.show .fab:nth-child(#{$i + 1}) {
                                bottom: #{$i * $gutefy-icon-wrapper-size_var + 80}px;
                        }
                }
                // Did that so the box-shadow doesn't rotate too
                .gf-sl-inner-fabs.show+.fab.round i {
                        transform: rotate(135deg);
                }
                .fab.round:before {
                        content: attr(data-tooltip);
                        transition: opacity 150ms cubic-bezier(.4, 0, 1, 1);
                        position: absolute;
                        visibility: hidden;
                        opacity: 0;
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
                        color: #ececec;
                        right: 50px;
                        top: 25%;
                        background-color: rgba(70, 70, 70, 0.9);
                        font-size: 0.5em;
                        line-height: 1em;
                        display: inline-block;
                        text-align: center;
                        white-space: nowrap;
                        border-radius: 2px;
                        padding: 6px 8px;
                        max-width: 200px;
                        font-weight: bold;
                        text-overflow: ellipsis;
                        vertical-align: middle;
                }
                .gf-sl-inner-fabs.show .fab.round:hover:before {
                        content: attr(data-tooltip);
                        visibility: visible;
                        opacity: 1;
                }
        }
}
