.gf-social-icons-color-dropdown-controller{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    .color-selector{
        border-radius: 100%;
        width: 30px;
        height: 30px;
        border:1px solid #a1a1a1;
    }
}

