#gf_social_icons__style-control-wrapper {

    .gf-social-icons-panel__body {
        padding: 0px;

        h2.components-panel__body-title {
            margin: 0!important;
            button {
                padding: 20px;
            }

        }

        .gf-social-icons-panel__body_wrapper {
            padding: 20px;
        }

    }
}
