# Node.js dependencies
/node_modules/
/package-lock.json/ 

# Compiled files
/dist/
/public/css/
/public/js/

# Dependency directories
/vendor/

# Compiled Java files
*.class

# Visual Studio Code
.vscode/

# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride
.DS_Store
# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Sass cache
.sass-cache/

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Temporary files and directories
*.log
*.bak
*.swp
.DS_Store?
Thumbs.db
desktop.ini
*.zip
.DS_Store
