# Node.js dependencies
/node_modules/

# Compiled files
/dist/
/public/css/
/public/js/

# Dependency directories
/vendor/

# Compiled Python files
*.pyc

# Compiled Java files
*.class

# Compiled Ruby files
*.rbc
*.rbo
*.rbs
*.gem

# Compiled PHP files
*.phpc

# PHPStorm project files
.idea/

# Visual Studio Code
.vscode/

# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Sass cache
.sass-cache/

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Temporary files and directories
*.log
*.bak
*.swp
.DS_Store?
Thumbs.db
desktop.ini
