
#gf-social-icons-color-control-wrapper{
  .gf-social-icons-color-dropdown{
    width: 100%;
    button{
      width: 100%;
      background-color: unset;
      border: 1px solid #dcdcdc;
      &:hover{
        background: unset;
      }
    }
  }
  
}
