.hide {
    display: none;
}

// body div#main-container {
//     position: relative;
// }

.show {
    display: block;
}

body {
    --gutefy-primary-color: #000; // used for icon background color
    --gutefy-secondary-color: #fff; // used for icon color
    --gutefy-primary-hover-color: #086A61; // used for icon hover background color
    --gutefy-secondary-hover-color: #F5AD3C; //used for icon hover color
    --gutefy-icon-size: 12px;
    --gutefy-icon-wrapper-opacity: 0.4;
    --gutefy-icon-wrapper-size: 44px;
    --gutefy-icon-wrapper-display-postion-bottom: 0px;
    --gutefy-icon-wrapper-display-postion-right: 0px;
    --gutefy-icon-wrapper-display-postion-left: 100%;
    --gutefy-icon-wrapper-z-index: 9999999999;
    --gutefy-icon-wrapper-position-top: 40%;

}

.gutefy-section-wrapper.style-one {
    .gf_social_icons-float-sm {
        position: fixed;
        right: 0;
        top: var(--gutefy-icon-wrapper-position-top);
        z-index: var(--gutefy-icon-wrapper-z-index);
    }

    .gf_social_icons-fl-fl {
        display: flex;
        align-items: center;
        background: var(--gutefy-primary-color);
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 4px;
        width: 190px;
        position: relative;
        right: -160px;
        z-index: var(--gutefy-icon-wrapper-z-index);
        font-family:inherit;
        font-size: 10px;
        transition: all .25s ease;

        &:hover {
            right: 0;
            background: var(--gutefy-primary-hover-color);
        }

        a {
            color: var(--gutefy-secondary-color)  ;
            text-decoration: none;
            text-align: center;
            line-height: 43px  ;
            vertical-align: top  ;
        }
    }

    svg {
        fill:var(--gutefy-secondary-color);
        padding: 10px 0;
        width: var(--gutefy-icon-size);
        margin:0 8px;
    }
}

.gutefy-section-wrapper.style-two {

    .gf_social_icons_social_float {
        z-index: var(--gutefy-icon-wrapper-z-index);
        position: fixed;
        top: var(--gutefy-icon-wrapper-position-top);
        right: -25px;
        line-height: 40px;
        font-size: 20px;
        opacity: var(--gutefy-icon-wrapper-opacity);
        animation: linear social_float_off .3s;

        &:hover {
            right: -5px;
            opacity: 1;
            animation: linear social_float_on .3s;
        }
    }

    a.gf_social_icons_social_icon {
        z-index: var(--gutefy-icon-wrapper-z-index);
        position: relative;
        padding: 5px 8px 5px 15px;
        color: white;
        background-color: var(--gutefy-primary-color);
        border-radius: 5px;
        margin: 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
        overflow: hidden;
        opacity: var(--gutefy-icon-wrapper-opacity);
        width: var(--gutefy-icon-wrapper-size);
        text-align: center;
        animation: linear social_icon_off .3s;
        text-shadow: 0px 0px 2px #fff;

        svg {
            width: var(--gutefy-icon-size);
            fill: white;
        }

        &:hover {
            background: var(--gutefy-primary-hover-color);
            opacity: 1;
            text-shadow: 0px 0px 5px #fff;
            animation: linear social_icon_on .3s;

            svg {
                fill: var(--gutefy-secondary-hover-color);
            }
        }
    }
}


@keyframes social_float_on {
    0% {
        right: -25px;
        opacity: var(--gutefy-icon-wrapper-opacity);
    }

    100% {
        right: -5px;
        opacity: 1;
    }
}

@keyframes social_float_off {
    0% {
        right: -5px;
        opacity: 1;
    }

    100% {
        right: -25px;
        opacity: var(--gutefy-icon-wrapper-opacity);
    }
}



@keyframes social_icon_on {
    0% {
        opacity: var(--gutefy-icon-wrapper-opacity)
    }

    100% {
        opacity: 1
    }
}

@keyframes social_icon_off {
    0% {
        opacity: 1
    }

    100% {
        opacity: var(--gutefy-icon-wrapper-opacity)
    }
}
