#sub-accordion-panel-gutefy_settings_core-panel_social_icon {
  .control-section {
    .accordion-section-title {
      text-transform: uppercase;
      font-family: inherit;
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 11px;

      &:hover {
        color: #3858E9 !important;
        border-left-color: #3858E9 !important
      }

      &:focus {
        color: #3858E9 !important;
        border-left-color: #3858E9 !important
      }
    }
  }
}

#accordion-panel-gutefy_settings_core-panel_social_icon {
  .accordion-section-title {
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 11px;
    background-color: #3858E9 !important;
    border-left-color: #3858E9 !important;
    color: #fff !important;

    &::after {
      color: #fff !important;
    }

    &:hover {
      background-color: #2980B9 !important;
      border-left-color: #2980B9 !important
    }
  }
}
