.hide {
    display: none;
}


.show {
    display: block;
}

:root {
    --gutefy-icon-wrapper-color: #000; // used for icon wrapper color
    --gutefy-icon-color: #fff; // used for icon color
    --gutefy-icon-wrapper-hover-color: #086A61; // used for icon hover background color
    --gutefy-icon-hover-color: #F5AD3C; //used for icon hover color
    --gutefy-icon-size: 12px;
    --gutefy-icon-wrapper-opacity: 1;
    --gutefy-icon-wrapper-size: 44px;
    --gutefy-icon-wrapper-display-postion-bottom: 0px;
    --gutefy-icon-wrapper-display-postion-right: 0px;
    --gutefy-icon-wrapper-display-postion-left: 100%;
    --gutefy-icon-wrapper-z-index: 9999999999;
    --gutefy-icon-wrapper-position-top: 40%;
    --gutefy-icon-wrapper-position-right: 0%;
    --gutefy-icon-wrapper-position-left: auto;

}

.gutefy-section-wrapper  {

    .gf_social_icons_social_float {
        z-index: var(--gutefy-icon-wrapper-z-index);
        position: fixed;
        top: var(--gutefy-icon-wrapper-position-top);
        right: var(--gutefy-icon-wrapper-position-right);
        left: var(--gutefy-icon-wrapper-position-left);
        bottom: var(--gutefy-icon-wrapper-position-bottom);
        opacity: var(--gutefy-icon-wrapper-opacity);

    }

    a.gf_social_icons_social_icon {
        z-index: var(--gutefy-icon-wrapper-z-index);
        position: relative;
        background-color: var(--gutefy-icon-wrapper-color);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        opacity: var(--gutefy-icon-wrapper-opacity);
        width: var(--gutefy-icon-wrapper-size);
        height: var(--gutefy-icon-wrapper-size);
        text-align: center;

        svg {
            width: var(--gutefy-icon-size);
            fill: var(--gutefy-icon-color);
        }

        &:hover {
            background: var(--gutefy-icon-wrapper-hover-color);
            opacity: 1;
            text-shadow: 0px 0px 5px #fff;
            animation: linear social_icon_on .3s;

            svg {
                fill: var(--gutefy-icon-hover-color);
            }
        }
    }
}

